@model IEnumerable<TranTuanKiet_2119110248.Context.Brand>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    tr {
        border: 1px solid #999999;
    }
</style>
<h1>QUẢN LÝ THƯƠNG HIỆU</h1>
<p>
    <a href="@Url.Action("Create", "Brand")"><i class="fa-solid fa-circle-plus"></i>THÊM THƯƠNG HIỆU</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BranID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDelete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BranID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandName)
        </td>
        <td>
            <img src="~/Content/images/Brand/@item.Avatar" class="img-fluid figure-img" style="height:50px"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDelete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Brand", new { id=item.BranID })"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="@Url.Action("Details", "Brand", new {id=item.BranID })"><i class="fa-solid fa-circle-info"></i></a>
            <a href="@Url.Action("Delete", "Brand", new { id=item.BranID})"><i class="fa-solid fa-trash-can"></i></a>

        </td>
    </tr>
}

</table>
