@model TranTuanKiet_2119110248.Context.User
@{
    Layout = "~/Views/Shared/_layout1.cshtml";
}

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header" style="color:red">
                Đăng Nhập Thông Tin Của Bạn !
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))

                {
                    @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", type = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <a href="~/Home/LoginFB">facebook</a>
                        <div>
                            nếu bạn chưa có tài khoản hãy bấm vào đăng ký !

                        </div>
                        <input type="submit" name="submit" class="btn btn-primary" value="Đăng Nhập" />

                    </div>
                }
            </div>
        </div>
    </div>
</div>

