@model TranTuanKiet_2119110248.Models.MasterOder

@{
    ViewBag.Title = "HOME";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>QUẢN LÝ ĐƠN HÀNG</h2>
<style>
    tr {
        border: 1px solid #999999;
    }
</style>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ListOrder.FirstOrDefault().Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListOrder.FirstOrDefault().Name)

        <th>
            @Html.DisplayNameFor(model => model.ListOrder.FirstOrDefault().Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListOrder.FirstOrDefault().UserId)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.ListOrder)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserId)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
    }
</table>
<h2>CHI TIẾT ĐƠN HÀNG</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ListOrderDetail.FirstOrDefault().id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListOrderDetail.FirstOrDefault().OrderId)

        <th>
            @Html.DisplayNameFor(model => model.ListOrderDetail.FirstOrDefault().ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListOrderDetail.FirstOrDefault().ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListOrderDetail.FirstOrDefault().prices)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListOrderDetail.FirstOrDefault().Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListOrderDetail.FirstOrDefault().price)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.ListOrderDetail)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderId)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.ProductId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.prices)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.price)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </td>
</tr>
    }
</table>