@model IEnumerable<TranTuanKiet_2119110248.Context.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>ĐƠN ĐẶT HÀNG</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<style>
    th {
        text-overflow: clip;
        text-align: center;
        border: 2px solid #808080;
        background-color: #007BFF;
    }

    td {
        border: 1px solid #999999;
    }
    tr {
        border: 1px solid #428bca;
    }
 
</style>
<style>
   

  

 
</style>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOnUtc)
        </th>
        <th>
            Chức Năng
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td>
        @{
            if (item.UserId != null)
            {
                @Html.DisplayFor(modelItem => item.UserId) }
            else
            {
                <p>Chưa Đăng ký thành viên</p>
            }
        }

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatedOnUtc)
    </td>



    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        <a href="@Url.Action("Detail", "OrderManagement", new {id=item.Id })"><i class="fa-solid fa-circle-info"></i></a>
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}
   
</table>
